


.selected-line{
    border: 1px solid;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}
.hidden {
    display: none;
}