
* {
    box-sizing: border-box;
}
.main-body{
    grid-template-rows: 15vh;
    gap: 10px;
}
/* .main-contant{
    margin-left: 10%;
    margin-right: 10%;
} */
.section-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
}

.main-header{
    /* margin-left: 10%;
    margin-right: 10%; */
    justify-content: space-between;
    align-items: center;

}
.canvas-editor{
    grid-area: 1/2/-1/3;
    grid-template-rows: 20fr 20fr 40fr 20fr; 
}