
* {
    box-sizing: border-box;
}
.main-body{
    grid-template-rows: 15vh;
}
.main-contant{
    margin-left: 10%;
    margin-right: 10%;
}
.section-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
}

.main-header{
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
    align-items: center;

}