* {
    box-sizing: border-box;
}
.main-header{
    border-bottom: 10em;
    padding: 15px;
    background-image: linear-gradient(-86deg, #33be6d 0, #0c98b9 100%);
    border-radius: 20px;

}
.main-header button{
    gap: 20px;
    background: 00;
    color: #fff;
    border: none;
    font-size: 1.7em; 
}
.main-header button:hover{
    color: hsl(0, 2%, 31%);
  
}
.nav-bar{
   
    justify-content: space-between;
    align-items: center;
    
}
nav, 
ul {
    height: 100%;
    gap:40px

}
 .nav-bar ul{
    display: flex;
}

 .nav-bar ul li{
    display: flex;
    margin: 0;
}
